<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>coinrankinga004bbd32d7d3c1a924be5a0d1b95e1c6ef705b0bd026283</string>
	<key>baseUrl</key>
	<string>https://api.mybackend.com/</string>
</dict>
</plist>
